:root {
    --color-1: #031111;
    --color-2: #152525;
    --color-3: #1f3535;
    --color-4: #cad0e4;
    --white: #edf1ff;
    --black: #444444;
    --grey: #ccc;
    --vibrant: #00ffff;
    --danger: #761d30;
    --danger-color: #d44161;
    --success: #00ed33;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    overflow-x: hidden;
    background-color: var(--color-1);
    font-family: 'Poppins';
    color: var(--color-4);
}

.container-blank {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
}

h1 {
    text-align: center;
    margin-bottom: 4rem;
}
.form-group {
    margin-bottom: 0.5rem;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}


input[type='text'] {
    padding: 0.8rem;
    border-radius: 0.4rem;
    width: 100%;
}

.btn {
    background-color: var(--color-3);
    color: var(--color-4);
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 200ms ease;
    margin-right: 0.5rem;
    margin-top: 0.1rem;
    transition: all 200ms ease;

}

.btn.big {
    padding: 1rem 1.5rem;
    width: 100%;
}

.btn:hover {
    background-color: var(--vibrant);
    color: var(--black);
}

.container {
    width: 40vw;
}

.results {
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid var(--white);
    padding: 1rem;
    border-radius: 0.6rem;


}
.results .item .label {
    display: inline-block;
    width: 8rem;

}
.color-red {
    color: var(--danger-color);
}